@CHARSET "ISO-8859-1";

body{
	margin: 0 auto;
    width: 100%;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    overflow: hidden;
}

.error{
	background-color: gold;
    padding: 5px;
    font-weight: 600;
    color: #504F4E;
    letter-spacing: 1px;
}

.error:before{content: "Ups!, ";}

.admin{
	margin-top: 20px;
    clear: both;
    position: relative;
    float: left;
}

.BobTablaList{
	position: relative;
    width: 100%;
    float: left;
    overflow-x: visible;
    overflow-y: visible;
    border: 1px solid #ccc;
    padding: 0: border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.BobTablaList > table > tbody > tr > th > input{
    margin: 0px;
    padding: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset;
}

.BobTablaList > table > tbody > tr > td{padding: 0px 3px;}

.tabs{
	position: relative;
    float: right;
    width: 15%;
    margin-top: 4px;
}

.tabMenus{
	width: 20%;
    position: relative;
    float: left;
    padding: 5px;
    border: 1px solid #CCCCC6;
    font-size: 11px;
    border-style: dashed;
    text-align: center;
    margin: 0px 6px;
}

.tabTitulo:hover{
	background-color:#D5D5D4 !important; 
}

.tabTitulo:ACTIVE{
	background-color:#FF7600 !important; 
}

.tabTitulo[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 109%;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #1C1C1C, #414040);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1C1C1C),color-stop(1, #414040));
    background-image: -webkit-linear-gradient(top, #1C1C1C, #414040);
    background-image: -moz-linear-gradient(top, #1C1C1C, #414040);
    background-image: -ms-linear-gradient(top, #1C1C1C, #414040);
    background-image: -o-linear-gradient(top, #1C1C1C, #414040);
}

.rollover:hover > div{
	display: inline !important;
    padding: 4px 8px;
    color: #FFF;
    position: absolute;
    float: left;
    width: 20%;
    margin-left: 25px;
    text-align: left;
    z-index: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #1C1C1C, #414040);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1C1C1C),color-stop(1, #414040));
    background-image: -webkit-linear-gradient(top, #1C1C1C, #414040);
    background-image: -moz-linear-gradient(top, #1C1C1C, #414040);
    background-image: -ms-linear-gradient(top, #1C1C1C, #414040);
    background-image: -o-linear-gradient(top, #1C1C1C, #414040);
}

.TituloTabla{
	background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 21px;
    color: #504f4e;
    position: relative;
    z-index: -1;
}

.LabelTitulo{
	position: relative;
    font-size: 133%;
    color: #504f4e;
    font-weight: 700;
    padding: 15px;
    float: left;
    width: 31%;
    margin-top: 4px;
}
.tableImg{
    width: 100%;
    padding-top: 5px;	
}
.centrar{text-align: center;}
.izquierda{text-align: left;}
.derecha{text-align: right;}

.WrapperTablaList{padding: 0px 30px; color: #504f4e;}

.trList:hover{background-color: #FFF6C7 !important;}

.button:hover{background-color: #3a6b94; border-color: #30587b;}

.button:focus{
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.button{
	color: #fff;
    background-color: #4985b8;
    border-color: #4178a7;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    text-decoration: inherit;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 12px;
    font-size: 15px;
    line-height: 1.43;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.nav-menu-separator{
	display: block;
    float: left;
    border-left: solid 1px #222;
    border-right: solid 1px #444;
    height: 20px;
    width: 0;
    margin: 10px 0;
}

.flechaAbajo {
    width:0px;
    height:0px;
    border-style: solid;
    border-width: 7px;
    border-bottom-width:0px;
    border-color: white transparent transparent transparent;
    float: right;
    margin: 18px 8px 0px 0px;
}

ul#menuAdmin {
    margin: 0 auto;
    width: 99.3%;
    float: left;
    height:40px;
    background: #444;
    background: -moz-linear-gradient(top,#444 0,#222 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#444),color-stop(100%,#222));
    background: -webkit-linear-gradient(top,#444 0,#222 100%);
    background: -o-linear-gradient(top,#444 0,#222 100%);
    background: -ms-linear-gradient(top,#444 0,#222 100%);
    background: linear-gradient(to bottom,#444 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444',endColorstr='#222222',GradientType=0);
    white-space: nowrap;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 0 1px;
    text-shadow: 0 1px 0 #000;
}

ul > li > a{
    color: #eee;
    font-size: 100%;
    font-weight: bold;
    text-decoration: inherit;
    float: left;
    margin: 9px 10px;
}
  
ul#menuAdmin li {
 color: #fff;
 float: left;
 list-style: none;
}
  
ul#menuAdmin li:hover{color: #aaa073; cursor:pointer;}
  
ul#menuAdmin ul {
	display: none;
    position: absolute;
    top: 40px;
    background: #333;
    color: #fff;
    padding: 0px 2px;
    margin: 0;
    z-index: 5;
 }
  
ul#menuAdmin ul li{
	float: left;
	color: #fff;
	width:100%;
}
 
 
ul#menuAdmin ul li a{color: #fff;}
  
ul#menuAdmin ul li a:hover{color: #aaa073; cursor:pointer;}
  
ul#menuAdmin li:hover ul ul,ul#menuAdmin li:hover ul ul ul,ul#menuAdmin li.iehover ul ul,ul#menuAdmin li.iehover ul ul ul {
	display: none;
 	cursor:pointer;
}
  
ul#menuAdmin li:hover ul,ul#menuAdmin ul li:hover ul,ul#menuAdmin ul ul li:hover ul,ul#menuAdmin li.iehover ul,ul#menuAdmin ul li.iehover ul,ul#menuAdmin ul ul li.iehover ul {
 display: block;
 cursor:pointer;
}