	<ul id="menuAdmin">
		<li th:each="menus:${MENUDATOS}" th:if="${menus.idPadre} == 0" class='has-sub'>
			<div class="nav-menu-separator">&nbsp;</div>
			<a href='#' th:text="${menus.titulo}">Menu Padre</a>
			<div class="flechaAbajo">&nbsp;</div>
			<ul>
				<li th:each="subMenus:${MENUDATOS}" th:if="${subMenus.idPadre} == ${menus.idMenu}" class='has-sub'>
					<a th:with="baseUrl=@{~/}+${baseUrlAdmin}" th:href="${baseUrl}+${subMenus.idMenu}+'-'+${subMenus.nombre}+@{.html}" th:text="${subMenus.titulo}">
						Menu Hijo
					</a>
				</li>
			</ul>
		</li> 
		<div class="nav-menu-separator">&nbsp;</div>
		</div>
	</ul>
	<div th:if="${HOOKERROR} != null" th:text="${HOOKERROR}" class="error">ERROR</div>